!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: true
!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcdfilter

Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96




Xterm*renderFont: true
Xterm*faceName: xft:Monospace
Xterm*faceSize: 14
Xterm*urf8: 2
Xterm*locale: true

Xterm.vt100.translations: #override \n\
	Ctrl <Key> j; smaller-vt-font() \n\
	Ctrl <Key> k: larger-vt-font()

! scrollback lines
Xterm*savelines: 2000

! double-click to select whole URLs
Xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Xterm Color theme
Xterm*foreground: #f8f8f2
Xterm*background: #282a36
Xterm*cursorColor: #f8f8f2


! Get rid of the scroll bar in URxvt
URxvt.scrollBar: false

! FONTS
URxvt.font:xft:Monospace:pixelsize=14
URxvt.boldfont:xft:Monospace-Bold:pixelsize=14
URxvt.letterSpace: -1

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! NORD TERMINAL THEME
!*.foreground:   #D8DEE9
!*.background:   #2E3440
!*.cursorColor:  #D8DEE9
!*fading: 35
!*fadeColor: #4C556A

!*.color0: #3B4252
!*.color1: #BF616A
!*.color2: #A3BE8C
!*.color3: #EBCB8B
!*.color4: #81A1C1
!*.color5: #B48EAD
!*.color6: #88C0D0
!*.color7: #E5E9F0
!*.color8: #4C566A
!*.color9: #BF616A
!*.color10: #A3BE8C
!*.color11: #EBCB8B
!*.color12: #81A1C1
!*.color13: #B48EAD
!*.color14: #8FBCBB
!*.color15: #ECEFF4

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,font-size
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.iso14755 : false

xscreensaver.splash: false

!font settings 9x15, the best fixed old school font in the Universe
xscreensaver.Dialog.headingFont:        9x15
xscreensaver.Dialog.bodyFont:           9x15
xscreensaver.Dialog.labelFont:          9x15
xscreensaver.Dialog.unameFont:          9x15
xscreensaver.Dialog.buttonFont:         9x15
xscreensaver.Dialog.dateFont:           9x15
xscreensaver.passwd.passwdFont:         9x15

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground: #ffffff
xscreensaver.Dialog.background: #111111
xscreensaver.Dialog.topShadowColor: #111111
xscreensaver.Dialog.bottomShadowColor: #111111
xscreensaver.Dialog.Button.foreground: #666666
xscreensaver.Dialog.Button.background: #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground: #666666
xscreensaver.Dialog.text.background: #ffffff
xscreensaver.Dialog.internalBorderWidth:36
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 2

!timeout bar (background is actually determined by Dialog.text.background)
!xscreensaver.passwd.thermometer.foreground: #ff0000
!xscreensaver.passwd.thermometer.background: #000000
!xscreensaver.passwd.thermometer.width: 8

! Same color as the background so this "thermometer" dissapears...
xscreensaver.passwd.thermometer.foreground: #111111
xscreensaver.passwd.thermometer.background: #111111
xscreensaver.passwd.thermometer.width: 2

!datestamp format–see the strftime(3) manual page for details
xscreensaver.dateFormat: %I:%M%P %a %b %d, %Y
